flask
flask-wtf
email_validator
flask-sqlalchemy
mysql-connector-python
flask-bcrypt
flask-login
flask-mail
flask-migrate
flask-script
flask-apscheduler
python-pushover
WTForms-SQLAlchemy
packaging
authlib