.modal-body .table tr:first-child td,.modal-body .table tr:first-child th{/*Removes double top border in information popups*/
    border-top: none;
}

.media-body .table a,.media-body .table button{ /*Making the buttons the same size so that when the page is resized they all line up*/
    min-width: 40px;
    margin: 2px 0px;
}

.modal-body{ /* Prevent long names from showing outside of popup modal */
    overflow: auto;
}

#job_status{
    position: absolute; 
    right:25px; 
    color:#28a745;
}

#job_status:hover{
    opacity: 1;
}

.home_status{
    font-size: 18px;
}