{% extends "layout.html"%}
{% block header %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.0/dist/chart.min.js"></script>
<!-- Doing menu buttons vs select forms because i dont know better.  Maybe the latter is the 'correct' way to do things?-->
<div class="content-section">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Customers
          </button>
        <div class="dropdown-menu">
            {% for customer in customers %}
                <a class="dropdown-item" href="/analytics?customer_id={{customer.id}}"> {{customer.name}} </a>
            {% endfor %}
        </div>
    </div>
</div>
{% if customer_id is not none %}
<div class="content-section">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hashfiles
          </button>
        <div class="dropdown-menu">
                {% for hashfile in hashfiles %}
                    <a class="dropdown-item" href="/analytics?customer_id={{customer_id}}&hashfile_id={{hashfile.id}}"> {{hashfile.name}} </a>
                {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock header %}
{% block content %}
<!-- this layout is so jank, someone please help me-->
<div class="container">
    <div class="row">
        <!-- spacer -->
    </div>
    <div class="row">
      <div class="col"  align="center">
          <canvas id="TotalCrackedHashes" width="300" height="300">
                <script>
                    var vis1 = document.getElementById("TotalCrackedHashes").getContext("2d");
                    var doughNut = new Chart(vis1, {
                        type: 'doughnut',
                        data: {
                            labels: {{ fig1_labels | safe }},
                            datasets: [{
                                label: "my label",
                                data: {{ fig1_values | safe }},
                                backgroundColor: ['rgba(192, 0, 0, 0.5)', 'rgba(0, 128, 0, 0.5)']
                            }]
                        },
                        options: {
                            responsive: false,
                            plugins:{
                                legend: {
                                    position: 'bottom',
                                },
                            }
                        }
                    });
                </script>
          </canvas>
      </div>
      <div class="col" align="center">
        <canvas id="Complexity" width="300" height="300">
            <script>
                var ctx = document.getElementById("Complexity").getContext("2d");
                var doughNut = new Chart(ctx, {
                    type: 'doughnut',
                    data: {
                        labels: {{ fig2_labels | safe }},
                        datasets: [{
                            label: "my label",
                            data: {{ fig2_values | safe }},
                            backgroundColor: ['rgba(192, 0, 0, 0.5)', 'rgba(227, 108, 10, 0.5)', 'rgba(0, 128, 0, 0.5)']
                        }]
                    },
                    options: {
                        responsive: false,
                        plugins:{
                            legend: {
                                position: 'bottom',
                            },
                        }
                    }
                });
            </script>
        </canvas>
      </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col" align="left">
            Placeholder for general stats <br>
            buton to download all cracked results <br>
            button to download remaining uncracked hashes <br>
        </div>
        <div class="col" align="center">
            <canvas id="CharSet" width="300" height="300">
                <script>
                    var ctx = document.getElementById("CharSet").getContext("2d");
                    var doughNut = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: {{ fig3_labels | safe }},
                            datasets: [{
                                label: "my label",
                                data: {{ fig3_values | safe }},
                                backgroundColor: [  'rgba(192, 0, 0, 0.5)', 
                                                    'rgba(227, 108, 10, 0.5)', 
                                                    'rgba(224, 202, 33, 0.5)', 
                                                    'rgba(0, 128, 0, 0.5)',]
                            }]
                        },
                        options: {
                            responsive: false,
                            plugins:{
                                legend: {
                                    position: 'bottom',
                                },
                            }
                        }
                    });
                </script>
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
            <canvas id="PasswordsCountByLength" width="600" height="300">
                <script>
                    var ctx = document.getElementById("PasswordsCountByLength").getContext("2d");
                    var doughNut = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: {{ fig4_labels | safe }},
                            datasets: [{
                                label: "Password Counts by Lengths",
                                data: {{ fig4_values | safe }},
                                backgroundColor: ['rgba(0, 128, 0, 0.5)']
                            }]
                        },
                        options: {
                            responsive: false,
                            plugins:{
                                legend: {
                                    position: 'bottom',
                                },
                            }
                        }
                    });
                </script>
            </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
          <br>
          <br>
        </div>
    </div>
    <div class="row">
        <div class="col" align="center">
            <canvas id="Top10Passwords" width="600" height="300">
                <script>
                    var ctx = document.getElementById("Top10Passwords").getContext("2d");
                    var doughNut = new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: {{ fig5_labels | safe }},
                            datasets: [{
                                label: "Top 10 Passwords",
                                data: {{ fig5_values | safe }},
                                backgroundColor: ['rgba(0, 128, 0, 0.5)']
                            }]
                        },
                        options: {
                            responsive: false,
                            plugins:{
                                legend: {
                                    position: 'bottom',
                                },
                            }
                        }
                    });
                </script>
            </canvas>
        </div>
    </div>
{% endblock content %}