{% extends "layout.html"%}
{% block header %}
<br>
<h1>Customers</h1>
<br>
The following are a list of customers currently configured in Hashview. All Jobs, passwords and hashes will be assigned to a single customer. Deleting a customer will remove ALL data from the system.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Control</th>
                  </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td>
                                <a class="fa fa-info btn btn-info" href="#" role="button" title=Info></a> 
                                <a class="fa fa-pie-chart btn btn-warning" href="#" role="button" title=Analytics></a> 
                                <a class="fa fa-trash btn btn-danger" href="#" role="button" title=Delete></a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </article>
{% endblock content %}