{% extends "layout.html"%}
{% block header %}
<br>
<h1>Hash Files</h1>
<br>
The following are a list of Hash Files currently configured in Hashview. All Hash Files are assigned to a single customer. Deleting a Hash File will remove it from the customer, but all cracked hashes will remain in the database.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Customer</th>
                    <th scope="col">Hash File</th>
                    <th scope="col">Hash Type</th>
                    <th scope="col">Crack Rate</th>
                    <th scope="col">Control</th>
                  </tr>
                </thead>
                <tbody>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.name }}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        {% for hashfile in hashfiles %}
                            {% if hashfile.customer_id == customer.id %}
                                <tr>
                                    <td></td>
                                    <td>{{ hashfile.name }}</td>
                                    <td>TBD</td>
                                    <td>TBD</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="/analytics/download?type=found&customer_id={{customer.id}}&hashfile_id={{hashfile.id}}" role="button">Download Cracked</a> 
                                        <a class="btn btn-primary btn-sm" href="/analytics?customer_id={{customer.id}}&hashfile_id={{hashfile.id}}" role="button">Analytics</a> 
                                        <a class="btn btn-primary btn-sm" href="/hashfiles/delete/{{hashfile.id}}" role="button">Delete</a> 
                                    </td>
                                </tr>
                            {% endif %}
                        {% endfor %}

                    {% endfor %}
                </tbody>
              </table>
        </div>
    </article>
{% endblock content %}