{% extends "layout.html"%}
{% block header %}
<br>
<h1>Tasks</h1>
<br>
The following are tasks that are assigned to the job. Each task is run once.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Task Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Control</th>          
                  </tr>
                </thead>
                <tbody>
                    {% for job_task in job_tasks %}
                        <tr>
                            <td>
                                {% for task in tasks %}
                                    {% if task.id == job_task.task_id %}
                                        {{task.name}}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for task in tasks %}
                                    {% if task.id == job_task.task_id %}
                                        {{task.hc_attackmode}}
                                    {% endif %}
                                {% endfor %}                                
                            </td>
                            <td>
                                <a class="fa fa-arrow-up btn btn-success btn-sm" href="/jobs/{{job.id}}/move_task_up/{{job_task.task_id}}" role="button" title='Move Up'></a>
                                <a class="fa fa-arrow-down btn btn-success btn-sm" href="/jobs/{{job.id}}/move_task_down/{{job_task.task_id}}" role="button" title='Move Down'></a>
                                <a class="fa fa-trash btn btn-danger btn-sm" href="/jobs/{{job.id}}/remove_task/{{job_task.task_id}}" role="button" title='Delete'></a>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="dropdown show">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Task
                                </a>
                            
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    {% for task in tasks %}
                                        {% set already_assigned = namespace(value=0) %}
                                        {% for job_task in job_tasks %}
                                            {% if job_task.task_id == task.id %}
                                                {% set already_assigned.value = 1 %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if already_assigned.value == 0 %}
                                            <!-- TODO: filter out tasks already assigned to the job -->
                                            <a class="dropdown-item" href="/jobs/{{job.id}}/assign_task/{{task.id}}">{{task.name}}</a>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="dropdown show">
                                <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Add Task Group
                                </a>
                            
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
                                    {% for task_group in task_groups %}
                                        <a class="dropdown-item" href="/jobs/{{job.id}}/assign_task_group/{{task_group.id}}">{{task_group.name}}</a>
                                    {% endfor %}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
              </table>
        </div>
    </article>
    <a class="btn btn-secondary" href="{{ url_for('jobs.jobs_assigned_hashfile', job_id=job.id) }}">Back</a>
    <a class="btn btn-primary" href="/jobs/{{job.id}}/notifications" role="button">Next</a>
{% endblock content %}