{% extends "layout.html"%}
{% block header %}
<script>
    document.addEventListener("DOMContentLoaded", function(){
    var checkbox = document.getElementById('all_cb')
    var checkboxes = document.querySelector('#hash_options').querySelectorAll('input[type="checkbox"]');
    checkbox.addEventListener('change', (event) => {
        if (event.currentTarget.checked) 
            set_boxes(checkboxes,true);
         else 
            set_boxes(checkboxes,false); 
      })
    });
    function set_boxes(checkboxes, option){
        for(var i=0; i < checkboxes.length; i++)
            checkboxes[i].checked = option;
    }
</script>
<br>
<h1>Hash Notifications</h1>
<br>
Select the hashes you wish to be notified by once cracked. Note, cracked hash notifications will persist after job has been completed or removed.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
<div class="content-section">
    <form method="POST" action="">
        <div class="form-group">
            <table id="hash_options" class="table">
                <thead>
                    <tr>
                        <th scope="col">
                            Notify <input id="all_cb" class="mt-1 mr-1" title="Check/uncheck all" style="position: absolute; left:80px;" type="checkbox"> 
                        </th>
                        <th scope="col">
                            User
                        </th>
                        <th scope="col">
                            Hash
                        </th>                 
                    </tr>
                </thead>
                <tbody>
                    <div class="form-check">
                        {% for hash in hashes %}
                            <tr>
                                <td>
                                    <center>
                                        {% set has_notification = namespace(value=0) %}
                                        {% for entry in existing_hash_notifications %}
                                            {% if entry.hash_id |string() == hash[0] |string() %}
                                                {% set has_notification.value = 1 %}
                                                <input class="form-check-input center" type="checkbox" name='selected' value="{{hash[0]}}" checked>
                                            {% endif %}
                                        {% endfor %}
                                        {% if has_notification.value == 0 %}
                                            <input class="form-check-input center" type="checkbox" name='selected' value="{{hash[0]}}">
                                        {% endif %}
                                    </center>
                                </td>
                                <td>
                                    {% if hash[1] %}
                                        {{ hash[1] | jinja_hex_decode()}}
                                    {% else %}
                                        <i>none</i>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="text-break">
                                        {{ hash[2]}}
                                    </p>
                                </td>
                            </tr>
                        {% endfor %}
                    </div>
                </tbody>
            </table>
        </div>

        <div class="form-group">
            <a class="btn btn-secondary" href="{{ url_for('jobs.jobs_assign_notifications', job_id = job.id) }}">Back</a>
            <input type="submit" class="btn btn-primary pull-right">
        </div>
    </form>
</div>
{% endblock content %}