{% extends "layout.html" %}
{% block header %}
<br>
<h1>Profile</h1>
<br>
Edit your profile.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend> <p class="text-secondary">{{ current_user.email }}</p>
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}

                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class="form-control-label") }}

                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pushover_app_id.label(class="form-control-label") }}
                    {% if form.pushover_app_id.errors %}
                        {{ form.pushover_app_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pushover_app_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if current_user.pushover_app_id %}
                            {{ form.pushover_app_id(class="form-control form-control-lg", placeholder="Pushover Id Set") }}
                        {% else %}
                            {{ form.pushover_app_id(class="form-control form-control-lg") }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pushover_user_key.label(class="form-control-label") }}
                    {% if form.pushover_user_key.errors %}
                        {{ form.pushover_user_key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pushover_user_key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if current_user.pushover_user_key %}
                            {{ form.pushover_user_key(class="form-control form-control-lg", placeholder="Pushover Key Set") }}
                        {% else %}
                            {{ form.pushover_user_key(class="form-control form-control-lg") }}
                        {% endif %}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary pull-right") }}
                <a class="btn btn-success " href="{{ url_for('users.send_test_pushover') }}">Test Pushover</a>
            </div>
        </form>
    </div>
{% endblock content %}