{% extends "layout.html" %}
{% block header %}
<br>
<h1>Profile</h1>
<br>
Edit your profile.
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Account Info</legend> <p class="text-secondary">{{ current_user.email }}</p>
                <div class="form-group">
                    {{ form.first_name.label(class="form-control-label") }}

                    {% if form.first_name.errors %}
                        {{ form.first_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.first_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.first_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.last_name.label(class="form-control-label") }}

                    {% if form.last_name.errors %}
                        {{ form.last_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.last_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.last_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    <div class="form-outline">
                        <label for="usr">User API Key:</label> 
                        <div class="form-outline mb-3" style="width: 22rem">
                            <div class="input-group"> 
                                {% if current_user.api_key %}
                                    <input class="form-control" id="formControlReadonly" type="text" value={{current_user.api_key}} aria-label="readonly input example" readonly/>
                                {% else %}
                                    <input class="form-control" id="formControlReadonly" type="text" value="No key set" aria-label="readonly input example" readonly/>
                                {% endif %}
                                <label class="form-label" for="formControlReadonly"></label>    
                                <div class="input-group-append">
                                    <a class="fa fa-refresh btn btn-warning fa-1x" href="/profile/generate_api_key" role="button" title=start></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                
                <div class="form-group">
                    {{ form.pushover_user_key.label(class="form-control-label") }}
                    {% if form.pushover_user_key.errors %}
                        {{ form.pushover_user_key(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pushover_user_key.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if current_user.pushover_user_key %}
                            {{ form.pushover_user_key(class="form-control form-control-lg", placeholder="Pushover Key Set") }}
                        {% else %}
                            {{ form.pushover_user_key(class="form-control form-control-lg") }}
                        {% endif %}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.pushover_app_id.label(class="form-control-label") }}
                    {% if form.pushover_app_id.errors %}
                        {{ form.pushover_app_id(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.pushover_app_id.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {% if current_user.pushover_app_id %}
                            {{ form.pushover_app_id(class="form-control form-control-lg", placeholder="Pushover Id Set") }}
                        {% else %}
                            {{ form.pushover_app_id(class="form-control form-control-lg") }}
                        {% endif %}
                    {% endif %}
                </div>                
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-primary pull-right") }}
                {% if not current_user.pushover_app_id or not current_user.pushover_user_key %}
                    <a class="btn btn-success disabled" href="#">Test Pushover</a>
                {% else %}
                    <a class="btn btn-success " href="{{ url_for('users.send_test_pushover') }}">Test Pushover</a>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock content %}