{% extends "layout.html"%}
{% block header %}
<br>
<h1>Hashview Settings</h1>
<br>
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">SMTP Settings</legend>
                <div class="form-group">
                    {{ form.smtp_server.label(class="form-control-label") }}

                    {% if form.smtp_server.errors %}
                        {{ form.smtp_server(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.smtp_server.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.smtp_server(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.smtp_sender.label(class="form-control-label") }}

                    {% if form.smtp_sender.errors %}
                        {{ form.smtp_sender(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.smtp_sender.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.smtp_sender(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.smtp_user.label(class="form-control-label") }}
                    {% if form.smtp_user.errors %}
                        {{ form.smtp_user(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.smtp_user.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.smtp_user(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.smtp_password.label(class="form-control-label") }}
                    {% if form.smtp_password.errors %}
                        {{ form.smtp_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.smtp_password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.smtp_password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.smtp_use_tls.label(class="form-control-label") }}
                    {% if form.smtp_use_tls.errors %}
                        {{ form.smtp_use_tls(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.smtp_use_tls.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.smtp_use_tls(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.smtp_auth_type.label(class="form-control-label") }}
                    {% if form.smtp_auth_type.errors %}
                        {{ form.smtp_auth_type(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.smtp_auth_type.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.smtp_auth_type(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <legend class="border-bottom mb-4">Hashview Settings</legend>
                <div class="form-group">
                    {{ form.retention_period.label(class="form-control-label") }}
                    {% if form.retention_period.errors %}
                        {{ form.retention_period(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.retention_period.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.retention_period(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.hashcat_path.label(class="form-control-label") }}
                    {% if form.hashcat_path.errors %}
                        {{ form.hashcat_path(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.hashcat_path.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.hashcat_path(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}