{% extends "layout.html"%}
{% block header %}
<br>
<h1>Settings</h1>
<br>
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-link active" id="nav-hashview-tab" data-toggle="tab" href="#nav-hashview" role="tab" aria-controls="nav-hashview" aria-selected="true">Hashview</a>
            <a class="nav-link" id="nav-data-tab" data-toggle="tab" href="#nav-data" role="tab" aria-controls="nav-data" aria-selected="false">Data Management</a>
            <a class="nav-link" id="nav-info-tab" data-toggle="tab" href="#nav-info" role="tab" aria-controls="nav-info" aria-selected="false">Information</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-hashview" role="tabpanel" aria-labelledby="nav-hashview-tab">
            <br>
            <div class="content-section">
                <form method="POST" action="">
                    {{ HashviewForm.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ HashviewForm.retention_period.label(class="form-control-label") }}
                            {% if HashviewForm.retention_period.errors %}
                                {{ HashviewForm.retention_period(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in HashviewForm.retention_period.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ HashviewForm.retention_period(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ HashviewForm.max_runtime_jobs.label(class="form-control-label") }}
                            {% if HashviewForm.max_runtime_jobs.errors %}
                                {{ HashviewForm.max_runtime_jobs(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in HashviewForm.max_runtime_jobs.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ HashviewForm.max_runtime_jobs(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>                        
                        <div class="form-group">
                            {{ HashviewForm.max_runtime_tasks.label(class="form-control-label") }}
                            {% if HashviewForm.max_runtime_tasks.errors %}
                                {{ HashviewForm.max_runtime_tasks(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in HashviewForm.max_runtime_tasks.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ HashviewForm.max_runtime_tasks(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group float-sm-left">
                            {{ HashviewForm.enabled_job_weights.label(class="form-control-label") }}
                            {% if HashviewForm.enabled_job_weights.errors %}
                                {{ HashviewForm.enabled_job_weights(class="form-control form-control-md is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in HashviewForm.enabled_job_weights.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ HashviewForm.enabled_job_weights(class="form-control form-control-md ") }}
                            {% endif %}
                        </div>                             
                    </fieldset>
                    <div class="form-group">
                        {{ HashviewForm.submit(class="btn btn-primary pull-right") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-data" role="tabpanel" aria-labelledby="nav-data-tab">
            <br>
            <div class="content-section">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>Clear Temp Folder</td>
                            <td>{{tmp_folder_size}} bytes</td>
                            <td>
                                <a class="fa fa-trash btn btn-danger" href="/settings/clear_temp" role="button" title='Clear Temp'></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-info" role="tabpanel" aria-labelledby="nav-info-tab">
            <br>
            <div class="content-section">
                <dl>
                    <dt>Application Version:</dt>
                    <dd>{{ application_version }}</dd>

                    <dt>Database Version:</dt>
                    <dd>{{ database_version }}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock content %}