{% extends "layout.html"%}
{% block header %}
<br>
<h1>Settings</h1>
<br>
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Hashview</a>
        <a class="nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">TBD</a>
        <a class="nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <br>
            <div class="content-section">
                <form method="POST" action="">
                    {{ HashviewForm.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ HashviewForm.retention_period.label(class="form-control-label") }}
                            {% if HashviewForm.retention_period.errors %}
                                {{ HashviewForm.retention_period(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in HashviewForm.retention_period.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ HashviewForm.retention_period(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <div class="form-group">
                            {{ HashviewForm.hashcat_path.label(class="form-control-label") }}
                            {% if HashviewForm.hashcat_path.errors %}
                                {{ HashviewForm.hashcat_path(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in HashviewForm.hashcat_path.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ HashviewForm.hashcat_path(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </fieldset>
                    <div class="form-group">
                        {{ HashviewForm.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <br>
            ...
        </div>
    </div>
{% endblock content %}