{% extends "setup_base.html.j2" %}

{% from "macros.j2" import make_form_group with context %}

{% block content %}
<h2 style="margin-top: 1rem; margin-bottom: 1rem;">Edit Admin User</h2>
<div class="content-section">
    <form method="POST" action="/setup/admin-pass">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            {{ make_form_group('first_name')       }}
            {{ make_form_group('last_name')        }}
            {{ make_form_group('email_address')    }}
            {{ make_form_group('password')         }}
            {{ make_form_group('confirm_password') }}
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-primary pull-right")}}
        </div>
    </form>
</div>
{% endblock %}