{% extends "layout.html"%}
{% block header %}
<br>
<h1>Task Groups</h1>
<br>
Task Groups are a set of tasks that can be assigned to job.
<a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('task_groups.task_groups_add') }}">Add</a>
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Task Group Name</th>
                    <th scope="col">Number of Tasks</th>
                    <th scope="col">Control</th>
                  </tr>
                </thead>
                <tbody>
                    {% for task_group in task_groups %}
                        <tr>
                            <td>{{ task_group.name }}</td>
                            <td>TBD</td>
                            <td>
                                <button type="button" class="fa fa-info btn btn-info" data-toggle="modal" data-target="#infoModal{{task_group.id}}" title=Info></button>
                                <a class="fa fa-edit btn btn-warning" href="/task_groups/assigned_tasks/{{task_group.id}}" role="button" title=Edit></a>
                                <button type="button" class="fa fa-trash btn btn-danger" data-toggle="modal" data-target="#deleteModal{{task_group.id}}" title=Delete></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </article>
    {% for task_group in task_groups %}
    <!-- Info Modal -->
        <div class="modal fade" id="infoModal{{task_group.id}}" tabindex="-1" aria-labelledby="infoModal{{task_group.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="infoModal{{task_group.id}}Label">Info: {{task_group.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
    {% for task_group in task_groups %}
    <!-- Edit Modal -->
        <div class="modal fade" id="resetModal{{task_group.id}}" tabindex="-1" aria-labelledby="editModal{{task_group.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="resetModal{{task_group.id}}Label">Edit task_group: {{task_group.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
    {% for task_group in task_groups %}
        <!-- DeleteModal -->
        <div class="modal fade" id="deleteModal{{task_group.id}}" tabindex="-1" aria-labelledby="deleteModal{{task_group.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{task_group.id}}Label">Delete: {{task_group.name}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                This will permanantly delete the task_group. Note, the associtated tasks will not be removed, only the group. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <!-- Replace with url_for()
                <form action="#" method="POST">
                -->
                <form action="/task_groups/delete/{{task_group.id}}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}