{% extends "layout.html"%}
{% block header %}
<br>
<h1>Tasks</h1>
<br>
Task are predefined hashcat commands. Any number of tasks can be assigned to a Job.
<a class="btn btn-success btn-sm mt-1 mb-1" href="{{ url_for('tasks.tasks_add') }}">Add</a>
<br>
<br>
<br>
{% endblock header %}
{% block content %}
    <article class="media content-section">
        <div class="media-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Task Name</th>
                    <th scope="col">Owner</th>
                    <th scope="col">Type</th>
                    <th scope="col">Keyspace</th>
                    <th scope="col">Control</th>
                  </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>
                                {% for user in users %}
                                    {% if user.id == task.owner_id %}
                                        {{ user.first_name }} {{ user.last_name }}
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>{{ task.hc_attackmode}}</td>
                            <td>{{ task.keyspace }}</td>
                            <td>
                                <button type="button" class="fa fa-info btn btn-info" data-toggle="modal" data-target="#infoModal{{task.id}}" title=Info></button>
                                <button type="button" class="fa fa-edit btn btn-warning" data-toggle="modal" data-target="#editModal{{task.id}}" title=Edit></button>
                                <button type="button" class="fa fa-trash btn btn-danger" data-toggle="modal" data-target="#deleteModal{{task.id}}" title=Delete></button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
        </div>
    </article>
    {% for task in tasks %}
    <!-- Info Modal -->
        <div class="modal fade" id="infoModal{{task.id}}" tabindex="-1" aria-labelledby="infoModal{{task.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="infoModal{{task.id}}Label">Info: {{task.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tbody>
                                <tr>
                                <th scope="row">Associated Jobs</th>
                                <td>
                                    {% set associated_jobs = namespace(value=0) %}
                                    {% for job_task in job_tasks %}
                                        {% if job_task.task_id == task.id %}
                                            {% for job in jobs %}
                                                {% if job.id == job_task.job_id%}
                                                    {% set associated_jobs.value = 1 %}
                                                    {{ job.name }} <br>
                                                {% endif %}
                                            {% endfor %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if associated_jobs.value == 0 %}
                                        <i>none</i><br>
                                    {% endif %}
                                </td>
                                </tr>
                                <tr>
                                <th scope="row">Associated Wordlists</th>
                                <td>
                                    {% set associated_wordlists = namespace(value=0) %}
                                    {% for wordlist in wordlists %}
                                        {% if wordlist.id == task.wl_id %}
                                            {% set associated_wordlists.value = 1 %}
                                            {{ wordlist.name }} <br>
                                        {% endif %}
                                    {% endfor %}    
                                    {% if associated_wordlists.value == 0 %}
                                        <i>none</i><br>
                                    {% endif %}
                                </td>
                                </tr>
                                <tr>                              
                                <th scope="row">Associated Task Groups</th>
                                <td>
                                    {% set associated_task_groups = namespace(value=0) %}
                                    {% for task_group in task_groups %}
                                        {% if task.id|string() in task_group.tasks %}
                                            {% set associated_task_groups.value = 1 %}
                                            {{ task_group.name }} <br>
                                        {% endif %}
                                    {% endfor %}
                                    {% if associated_task_groups.value == 0 %}
                                        <i>none</i><br>
                                    {% endif %}                                    
                                </td>
                                </tr>
                            </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
    {% for task in tasks %}
    <!-- Edit Modal -->
        <div class="modal fade" id="resetModal{{task.id}}" tabindex="-1" aria-labelledby="editModal{{task.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="resetModal{{task.id}}Label">Edit Task: {{task.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                ...
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
    {% for task in tasks %}
        <!-- DeleteModal -->
        <div class="modal fade" id="deleteModal{{task.id}}" tabindex="-1" aria-labelledby="deleteModal{{task.id}}Label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{task.id}}Label">Delete: {{task.name}} ?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                This will permanantly delete the task. Are you sure you want to continue?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Back</button>
                <form action="{{ url_for('tasks.tasks_delete', task_id=task.id) }}" method="POST">
                    <input class="btn btn-danger" type="submit" value="Delete">
                </form>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}
{% endblock content %}