{% extends "layout.html" %}
{% block header %}
<br>
<h1>Add Wordlist</h1>
<br>
<br>
<br>
<br>
{% endblock header %}
{% block content %}
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
           <div class="form-group">
            {{ form.name.label(class="form-control-label") }}

            {% if form.name.errors %}
                {{ form.name(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.name.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.name(class="form-control form-control-lg") }}
            {% endif %}
           </div> 
           <div class="form-group">
                {{ form.wordlist.label() }}
                {{ form.wordlist(class="form-control-file") }}
                {% if form.wordlist.errors %}
                    {% for error in form.wordlist.errors %}
                        <span class="text-danger">{{ error }}</span></br>
                    {% endfor %}
                {% endif %}  
           </div> 
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>
    </form>
</div>
{% endblock content %}